<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Js module 9 HomeWork</title>
  <link rel="stylesheet" href="./css/light-theme.css">

</head>
<body>
  <div class="container">
    <h1>Movie mate</h1>
    <form action="#" name="myForm" id="js-form">
      <label for="js-input-value">Введите имя фильма:</label>
      <br>
      <input type="text" name="movie" id="js-input-value">
      <br>
      <button id="js-submit">Submit</button>
    </form>
    <div class="button_Cont">
      <button class="js-pop-button">popular</button>
      <button class="js-lt-button">latest</button>
      <button class="js-tr-button">top rated</button>
    </div>
    <div class="button_Cont">
      <h2>Choose Theme</h2>
      <button class="js-Light-button">Light</button>
      <button class="js-Dark-button">Dark</button>
    </div>
  </div>
  <hr>
  <div class="gallery">
  </div>
  <script type="text/template" id="template">
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/w500<%- poster_path %>" alt="film-poster" class="film-card__img">
      <h3 class="film-card__title"><%- title %></h3>
      <p class="film-card__release-date"><%- release_date %></p>
      <p class="film-card__overview"><%- overview %>...</p>
      <div class="film-card__vote-average"><%- vote_average %></div>
    </div>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>