
.main-header {
  border-bottom: 2px solid #444343;
  display: flex;
  justify-content: space-between;
  color :#444343;
}

.main-header__title {
  width: 30%;
  margin-right: 0;
  animation: App-logo-spin infinite 3s ease;
  line-height: 20px;
  font-size: 30px;
}
.nav {
  margin: 0;
}

.nav__item {
  display: inline-block;
  margin-right: 40px;
  line-height: 56px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.6s;
  text-decoration: none;
  color: #403f88;
  transition: all 0.6s;
}
.nav__item:after {
  position: absolute;
  top: 60px;
  left: 0;
  content: "";
  width: 0;
  height: 3px;
  background: #ff5722;
  -webkit-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
}

.nav__item:hover {
  color: #ff5722
}

.nav__item:hover:after {
  width: 100%
}
    
@keyframes App-logo-spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
