.watchcard {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 8px;
  color: #fff;
  margin-bottom: 16px;
  border-radius: 2px;
  background-color: #0c161e;
  -webkit-box-shadow: 5px 5px 12px 0 rgba(83, 77, 77, 0.3);
  box-shadow: 5px 5px 12px 0 rgba(83, 77, 77, 0.3);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.card-img {
  display: block;
  width: 40%;
  height: 140px;
  -o-object-fit: cover;
  object-fit: cover;
}
.card_title {
  font-size: 16px;
  line-height: 1.5;
}
.card_release {
  font-size: 14px;
  margin-top: 8px;
}
.card_rating {
  font-size: 14px;
  margin-top: 8px;
}
.deletbtn {
  width: 80%;
  margin: 0 auto;
  color: #0c161e;
}
