img{
	width: 100px;
	height: 100px;
	margin-right: 50px;
}
.red {
	background-color: #FB0000;
}
#clickcount {
	margin-top: 10px;
}
.boxshadow {
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.75);
}
.one {
 opacity: 0;
transition: all 1s;
}
.two {
	opacity: 1;
}